version: "3"
services:
  web:
    build: .
    ports: 
      - "3000:3000"
    links:
      - mongo
    environment:
      NODE_ENV: docker
  mongo:
    image: mongo
    volumes:
      - /data/db
    ports:
      - "27017:27017"
